<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Warehouse Storage System</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
  <!-- Linking Google Font Link For Icons -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="content">
      <div class="header">
        <h2>Profile Management - Manager</h2>
        <p>Hello, {{username}}</p>
      </div>
      {% for profils in profil %}
      <form id='form-edit-profil' action="/edit_profile" method='POST'>
        <h2>Update Profile and/or Change Password</h2>
        <a></br></a>
        <div class="form-group email">
          <label for="email">Your Email Address</label>
          <input type="email" id="email" name="email" placeholder="Enter specified email address" value="{{profils.email}}" required>
        </div>
        <div class="form-group password">
          <label for="password">New Password</label>
          <input type="password" id="password" name="password" placeholder="Enter your new password" required>
          <i id="pass-toggle-btn" class="fa-solid fa-eye-slash"></i>
        </div>
        <div class="form-group password">
          <label for="password">Confirm New Password</label>
          <input type="password" id="confirm" name="confirm" placeholder="Re-enter your new password" required>
          <i id="pass-toggle-btn2" class="fa-solid fa-eye-slash"></i>
        </div>
        <div class="form-group date">
          <label for="date">Your Birth Date</label>
          <input style="padding-right: 14px;" type="date" id="date" name="date" placeholder="Select your date" value="{{profils.date}}" required>
        </div>
        <div class="form-group submit-btn">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  {% endfor %}
  <aside class="sidebar">
    <div class="sidebar-header">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logopng">
      <h2>Warehouse Storage 
        <br>System</h2>
    </div>
    
    <ul class="sidebar-links">
      <h4>
        <div class="menu-separator"></div>
      </h4>
      <li>
        <a href="{{ url_for('manager') }}">
          <img src="{{ url_for('static', filename='images/dashboard.png') }}" alt="Manager Image" width="25" height="25">
          <span>Dashboard</span>
        </a>
      </li>
      <li>
       <a href="{{ url_for('list_barang_manager', page=1) }}">
         <img src="{{ url_for('static', filename='images/list.png') }}" alt="Manager Image" width="25" height="25">
        <span>Item List</span>
       </a>
      </li>
      <li>
        <a href="{{ url_for('user_list', page=1) }}">
          <img src="{{ url_for('static', filename='images/userlist.png') }}" alt="Manager Image" width="25" height="25">
          <span>User List</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('logout') }}">
          <img src="{{ url_for('static', filename='images/logout.png') }}" alt="Manager Image" width="25" height="25">
          <span>Logout</span>
        </a>
      </li>
    </ul>
    
    <div class="user-account">
      <div class="user-profile">
        <img src="{{ url_for('static', filename='images/manager.jpg') }}" alt="mona2">
        <div class="user-detail">
          <h3>{{username}}</h3>
          <span>Manager</span>
        </div>
      </div>
    </div>
  </aside>
</body>
</html>