<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse Storage System</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
</head>
<body>
    <div class="circles">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="arrow"></div>
        <div class="arrow2"></div>
    </div>
    <form action="{{ url_for('login_route') }}" method="POST">
        <div class="container">
            <h2>WSS Sign-In</h2>
            <input type="text" name="username" placeholder="Enter Username" required>
            <div class="input-container">
                <input class="eyeball-input" type="password" id="password" name="password" placeholder="Enter Password" required>
                <a style="margin: 0px 0px 10px 0px;" id="pass-toggle-btn" class="fa-solid fa-eye-slash"></a>
              </div>
            <button id="loginBtn" type="submit">Login</button>
        </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.all.min.js"></script>
    <script>
        const passwordInput = document.getElementById('password');
        const passToggleBtn = document.getElementById('pass-toggle-btn');
        // Toggling password visibility
        passToggleBtn.addEventListener('click', () => {
          // Toggle type of password input
          passwordInput.type = passwordInput.type === "password" ? "text" : "password";
          // Toggle class for the icon
          passToggleBtn.className = passwordInput.type === "password" ? "fa-solid fa-eye-slash" : "fa-solid fa-eye";
        });
    </script>
</body>
{% with messages = get_flashed_messages() %}
    {% for message in messages %}
        {% if message == "Username, password are required!" %}
        <script>
            Swal.fire({
            title: 'GAGAL!',
            text: 'KOK GA DIISI?',
            icon: 'error',
            timer: 2000,
            showCancelButton: false,
            showConfirmButton: false
            });
        </script>
        {% endif %}
        {% if message == "Login successful! Welcome, Manager." %}
        <script>
            Swal.fire({
            title: 'BERHASIL',
            text: 'Login successful! Welcome, Manager',
            icon: 'success',
            timer: 2000,
            showCancelButton: false,
            showConfirmButton: false
            });
        </script>
        {% endif %}
        {% if message == "Login successful! Welcome, Staff." %}
        <script>
            Swal.fire({
            title: 'BERHASIL',
            text: 'Login successful! Welcome, Staff',
            icon: 'success',
            timer: 2000,
            showCancelButton: false,
            showConfirmButton: false
            });
        </script>
        {% endif %}
        {% if message == "User level not recognized." %}
        <script>
            Swal.fire({
            title: 'GAGAL!',
            text: 'LEVEL GA ADA',
            icon: 'error',
            timer: 2000,
            showCancelButton: false,
            showConfirmButton: false
            });
        </script>
        {% endif %}
        {% if message == "Invalid username or password!" %}
        <script>
            Swal.fire({
            title: 'GAGAL!',
            text: 'KAYAKNYA USERNAME ATAU PASSWORDNYA SALAH',
            icon: 'error',
            timer: 2000,
            showCancelButton: false,
            showConfirmButton: false
            });
        </script>
        {% endif %}
    {% endfor %}
{% endwith %}
</html>
